{% extends 'auth/base.html' %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}
    <div class='login-page'>
        <div class="lp-content">
            <input type='hidden' name='next' value='{{ next }}'>

            <h1 class='lp-content__h1'>Вход на сайт</h1>

            {% if form.errors %}
                <p class='lp-content__p-error'>Ошибка в данных, попробуйте ввести их заново или <a class='lp-content__p-error__link' href=''>восстановите пароль.</a></p>
            {% endif %}

            <form method='post' action=''>
                <div class='lp-field'>
                    <label class='lp-field__label' for='username'>Логин</label>
                    <input type='text' name='username' class='lp-field__input' id='username' autofocus>
                </div>

                <div class='lp-field'>
                    <label class='lp-field__label' for='password'>Пароль</label>
                    <input type='password' name='password' id='password' class='lp-field__input'>
                    <span class='lp-field__reset-password'><a class='lp-field__reset-password__link' href=''>Восстановление пароля</a></span>
                </div>

                <div class='lp-field'>
                    <button type='submit' class='lp-field__button'>Войти</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}