.layout,
.content {
    height: 100%;

    background: rgba(33,33,33,1);
}

.login-page {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url({% static "i/bg.jpg" %}) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.lp-content {
    width: 90%;
    max-width: 400px;
    margin: 50px auto 0;
    padding: 30px 40px 8px 40px;

    border-radius: 3px;
    background: rgba(33,33,33,.9);
}

.lp-content__h1 {
    color: rgba(255,255,255,.8);
    font: normal 24px 'PT Sans', sans-serif;
    text-align: center;
    margin-bottom: 1.25rem;
}

.lp-content__p-error {
    background: rgba(231, 76, 60,.6);
    padding: 10px;
    color: #fff;
    margin-bottom: 1.25rem;
    border-radius: 3px;
}

.lp-content__p-error__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.lp-content__p-error__link:active {
    color: rgba(231, 76, 60,1);
    border-bottom-color: rgba(231, 76, 60,1);
}

.lp-content__p {
    color: rgba(255,255,255,.8);
    margin-bottom: 2rem;
}

.lp-content__p__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.lp-content__p__link:active {
    color: rgba(231, 76, 60,1);
    border-bottom-color: rgba(231, 76, 60,1);
}

.lp-field {
    margin-bottom: 1.25rem;
}

.lp-field__label {
    font: normal 100% 'PT Sans', sans-serif;
    font-weight: 400;

    display: block;

    margin-bottom: .25rem;

    color: rgba(166,166,166,1);
}

.lp-field__textarea,
.lp-field__input {
    font: normal 100% 'PT Sans', sans-serif;

    display: block;

    width: 100%;
    padding: 10px 8px;

    color: #fff;
    border: 2px solid rgba(86,86,86,1);
    border-radius: 2px;
    outline: none;
    background: transparent;
}

.lp-field__textarea::-webkit-input-placeholder,
.lp-field__input::-webkit-input-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(142,142,142,1);
}

.lp-field__textarea:-moz-placeholder,
.lp-field__input:-moz-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(142,142,142,1);
}

.lp-field__textarea::-moz-placeholder,
.lp-field__input::-moz-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(142,142,142,1);
}

.lp-field__textarea:-ms-input-placeholder,
.lp-field__input:-ms-input-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(142,142,142,1);
}

.lp-field__textarea:focus,
.lp-field__input:focus {
    border-color: rgba(186,186,186,1);
}

.lp-field__textarea:focus::-webkit-input-placeholder,
.lp-field__input:focus::-webkit-input-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(169,169,169,1);
}

.lp-field__textarea:focus:-moz-placeholder,
.lp-field__input:focus:-moz-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(169,169,169,1);
}

.lp-field__textarea:focus::-moz-placeholder,
.lp-field__input:focus::-moz-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(169,169,169,1);
}

.lp-field__textarea:focus:-ms-input-placeholder,
.lp-field__input:focus:-ms-input-placeholder {
    font: normal 100% 'PT Sans', sans-serif;

    color: rgba(169,169,169,1);
}

.lp-field__reset-password__link {
    text-decoration: none;
    color: rgba(166,166,166,1);
    border-bottom: 1px solid rgba(166,166,166,.4);
}

.lp-field__reset-password__link:active {
    color: rgba(231, 76, 60,1);
    border-bottom-color: rgba(231, 76, 60,.4);
}

.lp-field__button {
    font: normal 100% 'PT Sans', sans-serif;

    width: 100%;
    margin-top: 1rem;
    padding: 16px 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #5a79b0;
}

.lp-field__button:hover {
    color: rgba(131,140, 156, 1);
    background: #394964;
}

.lp-field__button:active {
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .9) inset;
}

.lp-field__button:disabled {
    cursor: default;

    color: rgba(131,140, 156, 1);
    background: #394964;
}
